<!DOCTYPE html>
<html lang="es">
<head>
    <!-- <meta content="text/html" charset="UTF-8"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Tablas de situación -->
    <div class="content">
        <div style="text-align: center;">SITUACI&Oacute;N PERSONAL</div>
        <div class="fila">
            <table border="1">
               
                <thead>
                    <tr>
                        <th>Situacion</th>
                        <th>Cantidad</th>                  
                    </tr>
                </thead>
                <tbody>
                    <tr><th>POLICIAS</th></tr>
                    {% for key, value in listado_personal['Policias'].items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    
                    {% endfor %} 
                </tbody>
            </table>
            <table border="1">
                
                <thead>
                    <tr>
                        <th>Situacion</th>
                        <th>Cantidad</th>                  
                    </tr>
                </thead>
                <tbody>
                    <tr><th>OFICIALES</th></tr>
                    {% for key, value in listado_personal['Oficial'].items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    
                    {% endfor %}     
                </tbody>
            </table>
        </div>
    </div>

    <!-- Tabla Plantilla -->
    <div class="content">   
        <div style="text-align: center;">PLANTILLA</div>  
        <table border="1" style="text-align:center">
            <caption>Personal</caption>
            <thead>
                <tr>
                    <th>Cargo</th>
                    <th>N&uacute;mero</th>                
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td>&nbsp;Polic&iacute;a/s&nbsp;</td>
                        <td>{{ personal[0] }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Oficial/es&nbsp;</td>
                        <td>{{ personal[1] }}</td>                   
                    </tr>
                    <tr>
                        <td>&nbsp;Subinspector/es&nbsp;</td>
                        <td>{{ personal[2] }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Inspector/es&nbsp;</td>
                        <td>{{ personal[3] }}</td>                   
                    </tr>
                    <tr>
                        <td>&nbsp;Intendente&nbsp;</td>
                        <td>{{ personal[4] }}</td>
                    </tr>                
            </tbody>        
        </table>       
    </div>
    
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .content, table{
            display: inline-block;   
            vertical-align:top;         
        }
        .fila{
            margin-right: 2vw;
        }
    </style>

</body>
</html>

